{% extends 'base.html' %}
{% block title %}
    更新资产
{% endblock %}
{% block css %}
    <style>
        .myc {
            margin-bottom: -10px;
        }

    </style>
{% endblock %}
{% block basescript %}
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>
    <script src="/static/js/layer/layer.js"></script>
{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2></h2>
            <ol class="breadcrumb">
                <li>
                    <a>资产管理</a>
                </li>
                <li class="active">
                    <strong>更新资产</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <form action="" id="form" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="wrapper wrapper-content animated fadeInRight myc">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>主要信息</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.asset_type.label }}</label>
                                <div class="col-md-9">
                                    {{ form.asset_type }}
                                    <div class="help-block">
                                        {% if form.asset_type.help_text %}
                                            {{ form.asset_type.help_text }}
                                        {% elif form.asset_type.errors %}
                                            {{ form.asset_type.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">IP</label>
                                <div class="col-md-9">
                                    {{ form.ip }}
                                    <div class="help-block">
                                        {% if from.ip.help_text %}
                                            {{ form.ip.help_text }}
                                        {% elif form.ip.errors %}
                                            {{ form.ip.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.status.label }}</label>
                                <div class="col-md-9">
                                    {{ form.status }}
                                    <div class="help-block">
                                        {% if form.static.help_text %}
                                            {{ form.static.help_text }}
                                        {% elif form.static.errors %}
                                            {{ form.static.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.project.label }}</label>
                                <div class="col-md-9">
                                    {{ form.project }}
                                    <div class="help-block">
                                        {% if form.project.help_text %}
                                            {{ form.project.help_text }}
                                        {% elif form.project.errors %}
                                            {{ form.project.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.system.label }}</label>
                                <div class="col-md-9">
                                    {{ form.system }}
                                    <div class="help-block">
                                        {% if form.system.help_text %}
                                            {{ form.system.help_text }}
                                        {% elif form.system.errors %}
                                            {{ form.system.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.own.label }}</label>
                                <div class="col-md-9">
                                    {{ form.own }}
                                    <div class="help-block">
                                        {% if form.own.help_text %}
                                            {{ form.own.help_text }}
                                        {% elif form.own.errors %}
                                            {{ form.own.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight myc" id="server">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>服务器信息</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.sshuser.label }}</label>
                                <div class="col-md-9">
                                    {{ form.sshuser }}
                                    <div class="help-block">
                                        {{ form.sshuser.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.sshpwd.label }}</label>
                                <div class="col-md-9">
                                    {{ form.sshpwd }}
                                    <div class="help-block">
                                        {{ form.sshpwd.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.sshport.label }}</label>
                                <div class="col-md-9">
                                    {{ form.sshport }}
                                    <div class="help-block">
                                        {{ form.sshport.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.mysql_user.label }}</label>
                                <div class="col-md-9">
                                    {{ form.mysql_user }}
                                    <div class="help-block">
                                        {{ form.mysql_user.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.mysql_pwd.label }}</label>
                                <div class="col-md-9">
                                    {{ form.mysql_pwd }}
                                    <div class="help-block">
                                        {{ form.mysql_pwd.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.ftp_port.label }}</label>
                                <div class="col-md-9">
                                    {{ form.ftp_port }}
                                    <div class="help-block">
                                        {{ form.ftp_port.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight myc">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>其他信息</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.tags.label }}</label>
                                <div class="col-md-9">
                                    {{ form.tags }}
                                    <div class="help-block">
                                        {% if form.tags.help_text %}
                                            {{ form.tags.help_text }}
                                        {% elif form.tags.errors %}
                                            {{ form.tags.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.idc.label }}</label>
                                <div class="col-md-9">
                                    {{ form.idc }}
                                    <div class="help-block">
                                        {% if form.idc.help_text %}
                                            {{ form.idc.help_text }}
                                        {% elif form.idc.errors %}
                                            {{ form.idc.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.opsuser.label }}</label>
                                <div class="col-md-9">
                                    {{ form.opsuser }}
                                    <div class="help-block">
                                        {% if form.opsuser.help_text %}
                                            {{ form.opsuser.help_text }}
                                        {% elif form.opsuser.errors %}
                                            {{ form.opsuser.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.osuser.label }}</label>
                                <div class="col-md-9">
                                    {{ form.osuser }}
                                    <div class="help-block">
                                        {% if form.osuser.help_text %}
                                            {{ form.osuser.help_text }}
                                        {% elif form.osuser.errors %}
                                            {{ form.osuser.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.remark.label }}</label>
                                <div class="col-md-9">
                                    {{ form.remark }}
                                    <div class="help-block">
                                        {% if form.remark.help_text %}
                                            {{ form.remark.help_text }}
                                        {% elif form.remark.errors %}
                                            {{ form.remark.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.is_active.label }}</label>
                                <div class="col-md-9">
                                    {{ form.is_active }}
                                    <div class="help-block">
                                        {% if form.is_active.help_text %}
                                            {{ form.is_active.help_text }}
                                        {% elif form.is_active.errors %}
                                            {{ form.is_active.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>提交</h5>
                        </div>
                        <div class="ibox-content" style="height: 100px;">
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <a href="javascript:history.back()" class="btn btn-danger">返回</a>
                                    <button id="submit_button" class="btn btn-primary" type="button"
                                            onclick="submit_asset()">提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $.fn.modal.Constructor.prototype.enforceFocus = function () {
            };
            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 80
            });
        });

        function submit_asset() {
            layer.confirm("确定要提交吗？", {icon: 3, closeBtn: 2}, function () {
                var loadT = layer.msg('正在提交中,请稍候...', {icon: 16, time: 0, shade: [0.3, '#000']});
                $('#form').submit();
            });
        }
    </script>

{% endblock %}
