{% extends 'base.html' %}
{% block title %}
    创建用户
{% endblock %}
{% block content %}
    <!-- 路径 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2></h2>
            <ol class="breadcrumb">
                <li>
                    <a>用户管理</a>
                </li>
                <li class="active">
                    <strong>创建用户</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 10px;">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>创建用户</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="/user/create/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>账户配置</h3>
                    {% for foo in form %}
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="id_comment">{{ foo.label }}</label>
                            <div class="col-md-9">
                                {{ foo }}
                                {% if foo.errors %}
                                    <div class="help-block" style="color: red">{{ foo.errors }}</div>
                                {% else %}
                                    {% if foo.help_text %}
                                        <div class="help-block">{{ foo.help_text }}</div>
                                    {% else %}
                                    <div class="help-block">* 必填</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {%endfor %}
                        <div class="hr-line-dashed"></div>
                        {% for foo in form.errors.items %}
                            {{ foo }}
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="reset">重置</button>
                                <button id="submit_button" class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block script %}
<script src="/static/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>
<script>
    $('.dual_select').bootstrapDualListbox({
        selectorMinimalHeight: 160
    });
</script>
{% endblock %}

