{% extends 'base.html' %}
{% block title %}
计划列表
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a>计划任务</a>
            </li>
            <li class="active">
                <strong>任务列表</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        任务列表
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="" id="content_start">

                        <div class="uc pull-left m-r-5" style="margin:0 10px 10px 0">
                            <a href="{% url 'plan-create' %}" class="btn btn-sm btn-primary btn-create-asset">
                                创建任务</a>
                        </div>
                        <form action="" method="get">
                            {% for f in filter.form %}
                            <div class="uc pull-left m-r-5" style="margin:-5px 0 10px 0"><span
                                    style="font-size: 13px;"><b>{{ f.label }}</b></span><a
                                    class="btn btn-sm">
                                {{f}}
                            </a>
                            </div>
                            {% endfor %}
                            <div class="uc pull-left m-r-5" style="margin:0 10px 10px 0">
                                <button type="submit"
                                        class="btn btn-sm btn-success"> 搜索
                                </button>
                            </div>
                            <a href="{% url 'plan-list' %}" class="btn btn-primary btn-sm">全部</a>
                        </form>

                    </div>

                    <div id="editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer"
                                       id="myTable" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1" aria-label=": activate to sort column ascending"
                                            style="width: 27px;"></th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="名称: activate to sort column ascending"
                                            style="width: 300px;">名称
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="执行次数: activate to sort column ascending"
                                            style="width: 140px;">执行周期
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="执行次数: activate to sort column ascending"
                                            style="width: 140px;">命令
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="版本: activate to sort column ascending" style="width: 80px;">
                                            状态
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="版本: activate to sort column ascending" style="width: 80px;">
                                            执行状态
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="主机: activate to sort column ascending" style="width: 72px;">
                                            主机IP
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="user: activate to sort column ascending" style="width: 72px;">
                                            user
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="日期: activate to sort column ascending"
                                            style="width: 150px;">日期
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="时间: activate to sort column ascending" style="width: 72px;">
                                            创建用户
                                        </th>
                                        <th class="text-center sorting" tabindex="0" aria-controls="editable"
                                            rowspan="1" colspan="1"
                                            aria-label="动作: activate to sort column ascending"
                                            style="width: 121px;">动作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in filter.qs %}
                                    <tr class="gradeX odd" role="row">
                                        <td class="text-center"><input type="checkbox" class="cbx-term"></td>
                                        <td class="text-left">
                                            <a href="">{{ task.name }}</a>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-danger">{{ task.minute }}</span>&ensp;
                                            <span class="text-danger">{{ task.hour }}</span>&ensp;
                                            <span class="text-danger">{{ task.day }}</span>&ensp;
                                            <span class="text-danger">{{ task.month }}</span>&ensp;
                                            <span class="text-danger">{{ task.week }}</span>
                                        </td>
                                        <td>
                                            {{ task.code }}
                                        </td>
                                        <td class="text-center">
                                            {{ task.get_status_display}}
                                        </td>
                                        <td class="text-center">
                                            <h4 style="color: green">
                                                {{ task.get_execution_status_display }}
                                            </h4>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-primary" href=""
                                                    onclick="showcrons({{task.id}})">{{ task.host.ip }}
                                            </button>
                                        </td>
                                        <td class="text-center">{{ task.account }}</td>
                                        <td class="text-center">{{ task.create_time }}</td>


                                        <td class="text-center">
                                            {{ task.create_user.username }}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'plan-info' task.id %}"
                                               data-uid="7615a4a4-245f-4925-814f-2c387333a8d8"
                                               class="btn btn-xs btn-primary btn-run">编辑</a>
                                            <button href="" class="btn btn-xs btn-danger btn-del"
                                                    onclick="del({{task.id}})">删除
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}


<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<script type="text/javascript">
    function del(id) {
        layer.confirm("真的要删除吗？", {icon: 3, closeBtn: 2}, function () {
            var loadT = layer.msg('正在删除,请稍候...', {icon: 16, time: 0, shade: [0.3, '#000']});
            $.ajax({
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                url: "/plan/list/",
                type: 'DELETE',
                data: {'id': id},
                success: function (obj) {
                    if (obj.code === 200) {
                        layer.alert(
                            "删除成功",
                            {icon: 1},
                            function () {
                                layer.closeAll();
                                window.location.reload()
                            }
                        );
                    } else {
                        layer.alert("删除过程中出现错误:" + obj.msg, {closeBtn: 0}, function () {
                            layer.closeAll()
                        });
                    }
                },
                error: function () {
                    layer.alert("删除失败", {closeBtn: 0}, function () {
                        layer.closeAll()
                    });
                }
            });
        });
    }
</script>
<script>
    function showcrons(id) {
        layer.confirm("确定要查看吗？", {icon: 3, closeBtn: 2}, function () {
            var cw = layer.open({
                <!--在此处加载csrf_token-->
                type: 1,
                area: "600px",
                title: "计划任务检查",
                closeBtn: 2,
                shift: 5,
                shadeClose: false,
                content: "<div class='modal-content'>" +
                    "<div class='modal-body'>" +
                    "<div class='form-group'>" +
                    "<div class='col-sm-6' style='width: 100%'>" +
                    "<pre style='background-color: #0c0c0c'>" +
                    "<b id='code-ans'></b>" +
                    "</pre>" +
                    "</div>" +
                    "</div>" +
                    "<div class='modal-footer'>" +
                    "<button onclick='javascript:layer.closeAll()' class='btn btn-primary'>关闭</button>" +
                    "</div>" +
                    "</div>" +
                    "</div>" + "</div>"
            });
            var loadT = layer.msg('正在连接服务器,请稍候...', {icon: 16, time: 0, shade: [0.3, '#000']});
            let csrf = $('[name="csrfmiddlewaretoken"]').val();
            //发送
            $('#code-ans').html("<code style='color: white'>开始执行>></code>");
            $.ajax({
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                url: '/plan/show-crons/' + id + '/',
                type: "POST",
                data: {"id": id},
                success: function (data) {
                    // 回调函数
                    layer.close(loadT);
                    console.log(data.result)
                    if (data.code === 200) {
                        let html = "<code style='color: white'>开始执行>></code>";
                        html += "<code style='color: #008000'>";
                        html += data.result;
                        html += '</code>';
                        html += "<code style='color: white'>执行完毕....</code>";
                        $('#code-ans').html(html)

                    } else {
                        let result = data.msg;
                        layer.alert("执行过程中出现错误:" + data.error, {closeBtn: 0});
                        let html = "<code style='color: red'>" + result + "</code>";
                        $('#code-ans').html(html)
                    }
                }, error: function (data) {
                    layer.closeAll();
                    layer.alert("连接主机失败:" + data.responseText, {closeBtn: 0});
                }
            });
        });

    }
</script>
{% endblock %}