{% extends 'base.html' %}
{% block title %}
会话记录列表
{% endblock %}
{% block content %}
<!-- 路径 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a>
                    会话管理
                </a>
            </li>
            <li class="active">
                <strong>
                    会话列表
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <div class="" id="content_start">
                    <form action="" method="get">
                        {% for f in filter.form %}
                        <div class="uc pull-left m-r-5" style="margin:-5px 0 10px 0"><span style="font-size: 13px;"><b>{{ f.label }}</b></span><a
                                class="btn btn-sm">
                            {{f}}
                        </a>
                        </div>
                        {% endfor %}
                        <div class="uc pull-left m-r-5" style="margin:0 10px 10px 0">
                            <button type="submit"
                                    class="btn btn-sm btn-success"> 搜索
                            </button>
                        </div>
                        <a href="{% url 'session-log' %}" class="btn btn-primary btn-sm">全部</a>
                    </form>
                </div>
                <div id="asset_list_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <table class="footable table toggle-arrow-tiny table-striped table-bordered table-hover default dataTable no-footer footable-loaded breakpoint"
                           id="asset_list_table" style="width: 100%;" role="grid">
                        <thead>
                        <tr role="row">
                            <th class="text-center sorting" rowspan="1" colspan="1">ID</th>
                            <th class="text-center sorting" tabindex="0" rowspan="1" colspan="1">连接主机</th>
                            <th class="text-center sorting_disabled">操作用户</th>
                            <th class="text-center sorting_disabled">SSH登录用户</th>
                            <th class="text-center sorting" rowspan="1" colspan="1">开始时间</th>
                            <th class="text-center sorting" rowspan="1" colspan="1">结束时间</th>
                            <th class="text-center sorting_disabled" rowspan="1" colspan="1">动作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in filter.qs %}
                        {% if s.status == 0 %}
                        <tr role="row" class="odd">
                            <td class="text-center">
                                <a href="">{{ s.id }}</a>
                            </td>
                            <td class=" text-center">
                                {{s.host}}
                            </td>
                            <td class=" text-center">
                                {{s.user | default:"远程连接"}}

                            </td>
                            <td class=" text-center">

                                {{ s.ssh_user }}
                            </td>
                            <td class=" text-center">
                                {{ s.create_time }}
                            </td>
                            <td class=" text-center">
                                {{ s.end_time }}
                            </td>
                            <td class=" text-center">
                                <a href="{% url 'connection-log' s.id %}" class="btn btn-primary btn-xs">命令记录</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}